<!--<app-navbar></app-navbar>-->
<app-button text="اضافه کردن دانش آموزان" icon="heroPlusSmallSolid" size="small" />
<app-button text="Add" icon="heroPlusSmallSolid" iconSize="small" size="large"></app-button>
<app-button text="Home" icon="heroHomeSolid" iconSize="medium" size="medium"></app-button>
<app-button text="Settings" icon="heroCogSolid" iconSize="large" size="huge"></app-button>

<app-button text="Add" icon="heroPlusSmallSolid" iconSize="small" iconColor="text-yellow-400" size="large"></app-button>
<app-button text="Home" icon="heroHomeSolid" iconSize="medium" iconColor="text-red-500" size="medium"></app-button>
<app-button text="Settings" icon="heroCogSolid" iconSize="large" iconColor="text-blue-600" size="huge"></app-button>


<app-button
  text="Primary"
  icon="heroPlusSmallSolid"
  iconSize="small"
  iconColor="text-white"
  bgColor="bg-blue-500"
  textColor="text-white">
</app-button>

<app-button
  text="Success"
  icon="heroCheckSolid"
  iconSize="medium"
  iconColor="text-white"
  bgColor="bg-green-500"
  textColor="text-white">
</app-button>

<app-button
  text="Warning"
  icon="heroExclamationCircleSolid"
  iconSize="large"
  iconColor="text-white"
  bgColor="bg-yellow-500"
  textColor="text-white">
</app-button>


<app-button
  text="متن کوچیک"
  textSize="sm"
  icon="heroPlusSmallSolid"
  iconSize="large"
  iconColor="text-white"
  bgColor="bg-blue-500"
  textColor="text-white">
</app-button>

<app-button
  text="متن معمولی"
  textSize="base"
  icon="heroCheckSolid"
  iconSize="medium"
  iconColor="text-white"
  bgColor="bg-green-500"
  roundedSize="3xl"
  textColor="text-white">
</app-button>

<app-button
  text="متن بزرگ"
  textSize="xl"
  icon="heroExclamationCircleSolid"
  iconSize="large"
  iconColor="text-white"
  bgColor="bg-yellow-500"
  roundedSize="lg"
  textColor="text-gray-900">
</app-button>

<app-button text="متن بزرگ"
            textSize="xl"
            icon="heroExclamationCircleSolid"
            iconSize="large"
            iconColor="text-white"
            bgColor="bg-yellow-500"
            roundedSize="lg"
            textColor="text-gray-900" [loading]="true" size="large"></app-button>
